/* mobile styling */
:host {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: black;
}

h2 {
  color: white;
}

li {
  color: #fad9b4;
}

p {
  color: white;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

ol,
p {
  font-size: 20px;
}

ol {
  padding: 0px 0px 0px 20px;
}

h2 {
  align-self: center;
}

#username {
  width: 50%;
  align-self: center;
  padding: 10px;
  border-radius: 15px;
}

button {
  align-self: center;
  height: 30px;
  border-radius: 15px;
  background: black;
  color: white;
}

button:hover {
  background-color: transparent;
  color: #fad9b4;
  box-shadow: 2px 2px 2px 2px #fad9b4;
}

/* desktop styling */
@media only screen and (min-width: 768px) {
  :host {
    display: flex;
    height: 100%;
    background: url("src/assets/music.jpg");
    background-size: 100% auto;
  }

  .quizContainer {
    margin-left: 20px;
    border: 2px solid;
    border-radius: 15px;
    width: 50%;
  }

  ol,
  p {
    font-size: 26px;
  }

  button {
    height: 50px;
  }

  form {
    background-color: black;
  }
}
